<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../images/favicon.ico" type="image/ico" />
    <link rel="stylesheet" href="./grid.css" />
    <script
      src="https://kit.fontawesome.com/a789ffa956.js"
      crossorigin="anonymous"
    ></script>
    <title>Grid | NucleusUI</title>
  </head>
  <body>
    <section class="component-container">
      <div class="grid-container grid-1 m-bottom-small">
        <div class="grid-item item-1">1</div>
        <div class="grid-item item-2">2</div>
        <div class="grid-item item-3">3</div>
        <div class="grid-item item-4">4</div>
      </div>
      <div class="grid-container grid-2 m-bottom-small">
        <div class="grid-item item-1">1</div>
        <div class="grid-item item-2">2</div>
        <div class="grid-item item-3">3</div>
        <div class="grid-item item-4">4</div>
      </div>
      <div class="grid-container grid-3 m-bottom-small">
        <div class="grid-item item-1">1</div>
        <div class="grid-item item-2">2</div>
        <div class="grid-item item-3">3</div>
        <div class="grid-item item-4">4</div>
        <div class="grid-item item-5">5</div>
        <div class="grid-item item-6">6</div>
      </div>
      <div class="grid-container grid-4 m-bottom-small">
        <div class="grid-item item-1">1</div>
        <div class="grid-item item-2">2</div>
        <div class="grid-item item-3">3</div>
        <div class="grid-item item-4">4</div>
        <div class="grid-item item-5">5</div>
        <div class="grid-item item-6">6</div>
        <div class="grid-item item-7">7</div>
        <div class="grid-item item-8">8</div>
      </div>
    </section>
  </body>
</html>
