<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../images/favicon.ico" type="image/ico" />
    <link rel="stylesheet" href="./input.css" />
    <script
      src="https://kit.fontawesome.com/a789ffa956.js"
      crossorigin="anonymous"
    ></script>
    <title>Input | NucleusUI</title>
  </head>
  <body>
    <section class="component-container flex-container">
      <form action="#" class="form">
        <div class="m-bottom-small flex-jc-center">
          <h3 class="">Login</h3>
        </div>
        <div class="form-group">
          <input
            id="email"
            type="email"
            class="form-input"
            placeholder="Email Address"
            required
          />
          <label for="email" class="form-label"> Email Address</label>
        </div>
        <div class="form-group">
          <input
            id="password"
            type="password"
            class="form-input"
            placeholder="Password"
            minlength="8"
            required
          />
          <label for="password" class="form-label">Password</label>
        </div>
        <div class="form-group">
          <div class="form-radio-group flex-nav-wrap">
            <input
              id="large"
              type="checkbox"
              class="form-radio-input"
              name="size"
            />
            <label for="large" class="form-radio-label">
              <span class="form-radio-button"> </span>
              Remember Me</label
            >
            <a href="#" class="form-forgot">Forgot Password?</a>
          </div>
        </div>

        <div class="form-group">
          <button
            class="btn btn-squared btn-outline-secondary w-100 spacing-medium weight-600"
          >
            Login
          </button>
        </div>
        <div class="form-footer form-group flex">
          <p class="">
            <span><i class="fa fa-regular fa-face-frown"></i></span>
            Don't have an account ?

            <a href="#" class="link form-footer-link">Create one</a>
          </p>
        </div>
      </form>
    </section>
  </body>
</html>
