<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Alert</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/ico" />
    <link rel="stylesheet" href="./avatar.css" />
    <script
      src="https://kit.fontawesome.com/a789ffa956.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <section class="component-container flex-al-center-wrap">
      <figure class="avatar avatar-round size-huge">
        <img src="https://bit.ly/randomuser1" alt="Avatar of a random person" />
      </figure>
      <figure class="avatar avatar-round size-largest">
        <img src="https://bit.ly/randomuser3" alt="Avatar of Dan Abrahmov" />
      </figure>
      <figure class="avatar avatar-round size-larger">
        <img
          src="https://learnnode.com/images/square-small.jpg"
          alt="Avatar of Wes Bos"
        />
      </figure>
      <figure class="avatar avatar-round size-large">
        <img src="https://bit.ly/randomuser4" alt="Avatar of Josh Comeau" />
      </figure>
      <figure class="avatar avatar-round size-medium">
        <img
          src="https://bit.ly/prosper-baba"
          alt="Avatar of Prosper Otemuyiwa"
        />
      </figure>
    </section>
    <section class="component-container flex-al-center-wrap">
      <figure class="avatar avatar-round size-huge">
        <img src="https://bit.ly/randomuser1" alt="Avatar of a random person" />
        <div class="avatar-presence avatar-presence-green"></div>
      </figure>
      <figure class="avatar avatar-round size-largest">
        <img src="https://bit.ly/randomuser3" alt="Avatar of Dan Abrahmov" />
        <div class="avatar-presence avatar-presence-grey"></div>
      </figure>
      <figure class="avatar avatar-round size-larger">
        <img
          src="https://learnnode.com/images/square-small.jpg"
          alt="Avatar of Wes Bos"
        />
        <div class="avatar-presence avatar-presence-red"></div>
      </figure>
      <figure class="avatar avatar-round size-large">
        <img src="https://bit.ly/randomuser4" alt="Avatar of Josh Comeau" />
        <div class="avatar-presence avatar-presence-green"></div>
      </figure>
      <figure class="avatar avatar-round size-medium">
        <img
          src="https://bit.ly/prosper-baba"
          alt="Avatar of Prosper Otemuyiwa"
        />
        <div class="avatar-presence avatar-presence-red"></div>
      </figure>
    </section>
    <section class="component-container flex-al-center-wrap">
      <figure class="avatar avatar-squared size-huge">
        <img src="https://bit.ly/randomuser1" alt="Avatar of a random person" />
        <div class="avatar-presence avatar-presence-green"></div>
      </figure>
      <figure class="avatar avatar-squared size-largest">
        <img src="https://bit.ly/randomuser3" alt="Avatar of Dan Abrahmov" />
        <div class="avatar-presence avatar-presence-grey"></div>
      </figure>
      <figure class="avatar avatar-squared size-larger">
        <img
          src="https://learnnode.com/images/square-small.jpg"
          alt="Avatar of Wes Bos"
        />
        <div class="avatar-presence avatar-presence-red"></div>
      </figure>
      <figure class="avatar avatar-squared size-large">
        <img src="https://bit.ly/randomuser4" alt="Avatar of Josh Comeau" />
        <div class="avatar-presence avatar-presence-green"></div>
      </figure>
      <figure class="avatar avatar-squared size-medium">
        <img
          src="https://bit.ly/prosper-baba"
          alt="Avatar of Prosper Otemuyiwa"
        />
        <div class="avatar-presence avatar-presence-red"></div>
      </figure>
    </section>

    <section class="component-container flex-al-center-wrap">
      <div class="avatar-text avatar-text-large flex m-smallest">
        <span class="fs-large">AP</span>
      </div>
      <div class="avatar-text avatar-text-larger flex m-smallest">
        <span class="fs-largest">AP</span>
      </div>
      <div class="avatar-text avatar-text-largest flex m-smallest">
        <span class="fs-huge">AP</span>
      </div>
    </section>
  </body>
</html>
