<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="../../images/favicon.ico" type="image/ico" />
    <link rel="stylesheet" href="../avatar/avatar.css" />
    <link rel="stylesheet" href="./cards.css" />
    <script
      src="https://kit.fontawesome.com/a789ffa956.js"
      crossorigin="anonymous"
    ></script>
    <title>Cards | NucleusUI</title>
  </head>
  <body>
    <section class="component-container flex-container">
      <div class="card">
        <div class="card-header flex-base">
          <span class="card-thumb flex-jc-center m-right-small">
            <figure class="avatar avatar-round size-small">
              <img
                src="https://bit.ly/randomuser1"
                alt="Avatar of a random person"
              />
            </figure>
          </span>
          <div class="card-header-text">
            <div class="card-header-text-primary">Title goes here</div>
            <div class="card-header-text-secondary fs-small">
              Secondary text goes here
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
