<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../images/favicon.ico" type="image/ico" />

    <link rel="stylesheet" href="./text.css" />
    <script
      src="https://kit.fontawesome.com/a789ffa956.js"
      crossorigin="anonymous"
    ></script>
    <title>Texts | NucleusUI</title>
  </head>
  <body>
    <section class="component-container flex-column flex-jc-center-wrap">
      <h1 class="m-bottom-small">This is a Heading H1</h1>
      <h2 class="m-bottom-small">This is a Heading h2</h2>
      <h3 class="m-bottom-small">This is a Heading h3</h3>
      <h4 class="m-bottom-small">This is a Heading H4</h4>
      <h5 class="m-bottom-small">This is a Heading H5</h5>
    </section>
    <section class="component-container">
      <div class="txt-smaller">This is a extra small text</div>
      <div class="txt-small">This is a small text</div>
      <div class="txt-medium">This is a medium text</div>
      <div class="txt-large">This is a large text</div>
      <div class="txt-huge">This is a extra large text</div>
    </section>
    <section class="component-container">
      <div class="txt-grey txt-medium">This is a grey text</div>
      <div class="txt-al-center txt-medium">This is a center text</div>
      <div class="txt-italic txt-medium">This is italic text</div>
    </section>
    <section class="component-container">
      <p class="txt-strike txt-medium">This is a strike through text</p>
      <p class="txt-underline txt-medium">Underline text</p>
      <p class="txt-bold txt-medium">This is a bold text</p>
      <p class="txt-light txt-medium">This is a light font text</p>
      <div class="txt-bold">Title</div>
      <div class="txt-light">COMPONENT LIBRARY</div>
    </section>
  </body>
</html>
